.footer-flex {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}

.footer {
  background-color: $black-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contact__container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer__contact__address {
  margin-top: 20px;
  color: $white-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $highlight-color;
  }
}

.footer__contact {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
  display: block;
}

.footer__contact:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__contact__link {
  color: $white-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $highlight-color;
  }
}

.social__section {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
    margin-left: 70px;
  }
}

.footer__social__text {
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}

.social__section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer__social__item {
  height: 44px;
  width: 44px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.footer__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  color: $white-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $highlight-color;
  }
}

.footer__social__icon {
  fill: currentColor;
}

.subscribe__section {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;

  padding-left: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: transparent;
    border-color: $highlight-color;
    color: $white-color;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}
.subscribe__btn {
  display: flex;
  padding: 10px 28px;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $white-color;
  background: $highlight-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__icon {
  position: absolute;
  right: 28px;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
  fill: $white-color;
}
.subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
