$black-text-color: #212121;
$gray-text-color: #757575;
$white-color: #ffffff;
$black-bg-color: #2f303a;
$gray-bg-color: #f5f4fa;
$highlight-color: #2196f3;
$text-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$icon-color: #afb1b8;
